@{ ViewBag.Title = "Sobre"; }
<h2>@ViewBag.Title</h2>

<p>
    Meu nome é Wendrya Andrade Oliveira.
    Sou Técnica em Informática pela FUNEC e bacharel em Sistemas de Informação pela PUC Minas.
</p>
<p>
    Celular: (31) 99715-0493
    <br>
    Email: wendrya1@gmail.com
    <br>
    <a href="https://www.linkedin.com/in/wendrya-andrade/">LinkedIn</a>
    <br>
    <a href="https://github.com/wendryandrade">GitHub</a>
</p>